# Ignore node_modules and dependencies
node_modules/
.env
.cache

# Ignore Hardhat and Truffle build artifacts
artifacts/
cache/
*.json
*.log

# Ignore IDE and OS-specific files
.DS_Store
.vscode/
.idea/
*.swp

# Ignore specific build files (if needed)
# blockchain/artifacts/build-info/
# blockchain/artifacts/contracts/