.dcontainer{
    background-color: #aeb2c7;
    display: flex;
}
.dcontent{
    margin-left: 230px ;
    padding :30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
